<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.sstore.dao.IndexMapper">
  <resultMap id="BaseResultMap" type="com.top.sstore.pojo.Index">
    <id column="index_id" jdbcType="INTEGER" property="indexId" />
    <result column="label_id" jdbcType="INTEGER" property="labelId" />
    <result column="serv_id" jdbcType="INTEGER" property="servId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    index_id, label_id, serv_id
  </sql>
  <select id="selectByExample" parameterType="com.top.sstore.pojo.IndexExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_index
    where index_id = #{indexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_index
    where index_id = #{indexId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.top.sstore.pojo.IndexExample">
    delete from tbl_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.top.sstore.pojo.Index">
    insert into tbl_index (index_id, label_id, serv_id
      )
    values (#{indexId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{servId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.top.sstore.pojo.Index">
    insert into tbl_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="indexId != null">
        index_id,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
      <if test="servId != null">
        serv_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="indexId != null">
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="servId != null">
        #{servId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.top.sstore.pojo.IndexExample" resultType="java.lang.Long">
    select count(*) from tbl_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_index
    <set>
      <if test="record.indexId != null">
        index_id = #{record.indexId,jdbcType=INTEGER},
      </if>
      <if test="record.labelId != null">
        label_id = #{record.labelId,jdbcType=INTEGER},
      </if>
      <if test="record.servId != null">
        serv_id = #{record.servId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_index
    set index_id = #{record.indexId,jdbcType=INTEGER},
      label_id = #{record.labelId,jdbcType=INTEGER},
      serv_id = #{record.servId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.top.sstore.pojo.Index">
    update tbl_index
    <set>
      <if test="labelId != null">
        label_id = #{labelId,jdbcType=INTEGER},
      </if>
      <if test="servId != null">
        serv_id = #{servId,jdbcType=INTEGER},
      </if>
    </set>
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.top.sstore.pojo.Index">
    update tbl_index
    set label_id = #{labelId,jdbcType=INTEGER},
      serv_id = #{servId,jdbcType=INTEGER}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
</mapper>